// Aqui posar el SCSS addicional per a suport del tema.
$fontAwesomePath: "/++genweb++static/fonts";
@import "compass_twitter_bootstrap/font-awesome";
@import "overrides";

// Vilaix CSS

html {
    background: none repeat scroll 0 0 #000;
    font-size: 100%;
}
body {
	background:#fff;
	font-family: 'Open Sans', sans-serif;
    color: #555555;
    line-height: 20px;
}
a {
   text-decoration: none;
}
a:hover {
    color:black;
    text-decoration: underline;
}
#peu a {
    color: #555;
}
h2 a, h3 a {
    color:#444;
}

//CAPSALERA

#portal-header {
	border-top: none;
	border-bottom: none;
	background:#e7e4e3;
}
#portal-header .container {
    border-bottom: 0 none;
    border-top: 0 none;
    margin-bottom: 0;
    margin-top: 0;
}

.header-image {
	background-image: url('/++vilaix++static/images/capcalera.jpg');
	margin-top: 10px !important;
	background-repeat:no-repeat;
}

//MENU NAVEGACIO

 .navbar-inner {
 	border: none;
 }

#portal-globalnav {
	margin-top: 10px;
}

#portal-globalnav .nav > li > a {
 	color: white;
	background-color: #4B4B4D;
	font-weight: normal;
	border-right: none;
	margin-right: 5px;
}

#portal-globalnav .navbar-inner {
	padding: 0;
	border-bottom: none;
}

.navbar-inner {
	min-height: 36px;
	background-color: #e7e4e3;
	background-image: none !important;
	border: none !important;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.nav > li {
	padding-top: 3px;
}

#portal-globalnav .state-published, #portal-globalnav #workflow-transition-publish {
	border-bottom: none;
}

#portal-globalnav .state-draft, #portal-globalnav #workflow-transition-reject, #portal-globalnav #workflow-transition-retiraaesborrany, #portal-globalnav #workflow-transition-show, #portal-globalnav .state-visible {
	border-bottom: none;
}

#portal-globalnav .state-private, #portal-globalnav #workflow-transition-hide {
	border-bottom: none;
}

#portal-globalnav .navbar .nav > li > a:focus, #portal-globalnav .navbar .contentViews > li > a:focus, #portal-globalnav .navbar .configlets > li > a:focus, #portal-globalnav .navbar .formTabs > li > a:focus, #portal-globalnav .navbar .nav > li > a:hover, #portal-globalnav .navbar .contentViews > li > a:hover, #portal-globalnav .navbar .configlets > li > a:hover, #portal-globalnav .navbar .formTabs > li > a:hover {
	-webkit-box-shadow: inset 0 20px 20px -20px rgba(255, 255, 255, 0.75);
	-moz-box-shadow: inset 0 20px 20px -20px rgba(255, 255, 255, 0.75);
	box-shadow: inset 0 20px 20px -20px rgba(255, 255, 255, 0.75);
}

.portlet {
	margin-bottom: 20px;
	border: 0;
	background: white;
}

.portlet h2 {
	margin: 0;
	font-size: 16px;
	color: white;
	padding: 10px 15px;
	line-height: 18px;
	position: relative;
	border-bottom-width: 0px;
    text-transform:uppercase;
}
.portlet h2 a, .portlet a {
    color: #0072B8;
}
.portlet-noticia-destacada > h2 {
    margin-bottom: 15px;
}
.list-portlet {
  background: white;
  margin: 0;
  padding: 0 0 0 0;
  content: none !important;
  border-bottom: none;
}

.list-portlet .noticies {
	height: auto;
	padding: 8px 0 8px 0px !important;
	margin-right: 0px;
	list-style: none !important;
	content: "" !important;
}
.list-portlet .noticies .imatge {
	float: left;
	width: 132px;
	height: 80px;
	padding: 2px;
}

.noticies h2 {
	margin: 0;
	font-size: 16px;
    line-height: 21px;
	color: white;
	padding: 0px 0px;
	position: relative;
	border-bottom-width: 0px;
	background: none;
}

.noticies p {
	margin: 0 0 0px;
}

.list-portlet li::before {
	content: none;
	position: absolute;
	font-size: 52px;
	margin-left: -20px;
	margin-top: -15px;
	color: #0EA8FF;
}

.portlet .portlet-footer {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    color: #FFFFFF;
    font-weight: bold;
    padding: 0 0 3px;
    text-align: right;
}

.portlet-footer .icon-plus-sign {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	opacity: 0.8;
	position: relative;
	left: 0px;
	margin-left: 3px;
	margin-right: 3px;
}

.button{
	background: black;
	padding: 0px;
	padding-top: 1px;
	padding-bottom: 0px;
	padding-left: 4px;
}
.portlet.portlet-noticia-destacada {
    padding: 0;
        min-height: 145px;
}
.portlet.portlet-noticia-destacada h2 {
margin-bottom: 15px;
}
.imatge_Destacada, .text_Destacat {
	margin:0!important;
	}
.text_Destacat {
	margin-left:10px!important;
}
.noticia_Destacada {
	background: none;
}
.link_footer_destacat {
    margin-left: 10px !important;
    margin-bottom:0!important;
     margin-top: 10px;
}
.portlet_mes_consultat .list-portlet li {
	border-top: 1px solid #E5E5E5;
	margin-left: 0 !important;
	padding: 8px 5px 8px 5px !important;
	margin-right: 10px;
}

.mes_consultat {
	background: #F2F2F2;
	margin-right: 0px !important;
	padding-right: 0px !important;
	border-top: 3px solid white !important;
}

.mes_consultat a {
	color: black !important;
}

.portlet-esdeveniments ul {
	border-bottom: none;
}

.portlet-esdeveniments ul a {
    color:black;
	display: block;
	padding-left: 70px;
	border-left: 3px solid #F2F2F2;
	font-weight: bold;
	min-height: 0 !important;
}

.portlet-esdeveniments .multidate-before {
	padding-left: 73px;
}

.portlet-esdeveniments .multidate {
	font-size: 107%;
}

.text_esdeveniment {
	padding-left: 73px;
	font-size: 90%;
}

.menu_peu {
	border: 2px solid white;
	padding: 10px 10px;
}

.menu_peu ul {
	list-style: none;
	margin-left: 0px;
}


.menu_peu h4 {
	background: transparent;
	padding-top: 5px;
	padding-bottom: 5px;
}

.menu_peu li a {
	color: black;
	margin-left: 10px;
}

.menu_peu_links ul li {
	border-bottom: 2px solid white;
	padding-bottom: 5px;
}

.menu_peu h4 a {
	text-transform: uppercase;
	margin-left: 10px;
}

#baners ul {
	list-style: none;
	margin-left: 0px;
}

#baners ul li {
	margin-bottom: 8px;
}

// Canvis Marc demo Ajuntament - Juliol 2013.

#portal-header {
    background: none repeat scroll 0 0 white;
    border-bottom: medium none;
    border-top: 2px solid #0073B8;
    margin: 0 auto;
}
.link_footer_destacat {margin-left: 0 !important;}
.header-image {
    background-image: url("/++vilaix++static/images/capcalera.jpg");
    background-repeat: no-repeat;
    border-radius: 0 0 0 0;
    box-shadow: none;
    margin-top: 10px !important;
    height: 185px;
}
.portlet {
    background: none repeat scroll 0 0 white;
    border: 0;
    border-radius: 0 0 0 0;
    box-shadow: none;
    margin-bottom: 15px;
}
.portlet h2 {
    background: none repeat scroll 0 0 #0072b8;
    border-bottom-width: 0;
    color: white;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin: 0;
    padding: 5px 15px 5px 10px;
    position: relative;
    text-transform:uppercase;
}
.noticies h2 {
    background: none repeat scroll 0 0 transparent;
    border-bottom-width: 0;
    color: white;
    font-size: 16px;
    line-height: 21px;
    margin: 0;
    padding: 0;
    position: relative;
}
.portlet h3 a {
color: #0072B8;
}
b, strong {
    font-weight: 600;
}
#portal-globalnav .nav > li > a {
    background-color: transparent;
    border-right: medium none;
    color: white!important;
    font-size: 14px;
    font-weight: 600;
    margin-right: 3px;
    padding-bottom: 6px;
    padding-top: 6px;
    text-shadow: none;
    text-transform: uppercase;
}

.button {
    background: none repeat scroll 0 0 #0072B8;
    font-size: 11px;
    padding: 1px 0 2px 8px;
}
.portlet-footer {
    background: none repeat scroll 0 0 #000000;
    border-radius: 0;
    border-top: 0 none;
    display: block;
    font-size: 92.3077%;
    padding: 5px 10px 7px;
    position: relative;
    text-align: center;
}
#portal-globalnav .navbar .nav > li > a:focus, #portal-globalnav .navbar .contentViews > li > a:focus, #portal-globalnav .navbar .configlets > li > a:focus, #portal-globalnav .navbar .formTabs > li > a:focus, #portal-globalnav .navbar .nav > li > a:hover, #portal-globalnav .navbar .contentViews > li > a:hover, #portal-globalnav .navbar .configlets > li > a:hover, #portal-globalnav .navbar .formTabs > li > a:hover {
    box-shadow: 0 20px 20px -20px rgba(255, 255, 255, 0.4) inset;
}

#portal-column-content .span4 {
    margin-left: 2.2%;
    width: 32.15%;
}
#content-area {
    margin-top: 0.8em;
    padding-bottom: 2em;
}
.imatge_Destacada {

}
.text_Destacat {

}
.text_Destacat h3 {
    font-size: 23px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 0;
}
.link_footer_destacat {

	}
.portletCalendar .ploneCalendar td.event, .portletCalendar .ploneCalendar td.todayevent {
    background: none repeat scroll 0 0 #F2F2F2;
    text-shadow: 0 -1px #fff;
}
.portletCalendar .ploneCalendar td.event a, .portletCalendar .ploneCalendar td.todayevent a {
    background: none repeat scroll 0 0 #DDDDDD;
    border-radius: 10px 10px 10px 10px;
    color: #444444;
    padding: 1px 5px;
}
.portletCalendar .ploneCalendar td:not(:empty) {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 50px 50px 50px 50px;
    text-shadow: 0 1px #FFFFFF;
}
.portlet-esdeveniments ul a {
        font-size: 16px;
        font-weight: 600;
        line-height: 21px;
    }
 .portlet-esdeveniments li {
 margin-left:0px!important;
 }

#baners img:hover {opacity:0.75;transition:0.5s ease-out 0s;}
#baners a:hover {text-decoration: none;}
#content-area, #portal-column-content {
    margin-bottom: 0;
    margin-top: 10px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    transition: box-shadow 0.5s ease-out 0s;
}
.span12 #baners {

}
.span12 #baners li {
display: inline;
}
.span12 #baners li:hover {
text-decoration: none;
}
.span12 #baners li img {
    box-shadow: 2px 2px 2px #777777;
    margin-right: 55px;
    margin-top:10px;
}
.span12 #baners li:first-child img {
    margin-top:0;
    }
.span12 #baners li:last-child img {
    margin-bottom:10px;
    }
.span12 #baners li:last-child img {
    margin-right: 0;
    }
.navbar-inner {
    background-color: transparent;
    }
#portal-header:not(.no-image) + #portal-globalnav .navbar-inner {
    border-radius: 0 0 0 0 !important;
    margin-top: 0;
}
#portal-globalnav .navbar-inner {
    background: none repeat scroll 0 0 #0072b8;
    border-bottom: medium none;
    padding: 0 0 0 20px;

}
#portal-globalnav {
    margin-top: 0;
}
#eines {
	font-size: 12px;
    margin-top: 10px;

}
#eines > li > a {
color:#333;
}
.thumbnail, .thumb-img img, .photoAlbumEntry a {
    border: 0 none;
    border-radius: 0 0 0 0;
    display: block;
    line-height: 18px;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
     box-shadow: none;
}
#mySlider {
    box-shadow: none;
    margin: 0 0 15px;
    padding: 0;
}
.template-homepage #mySlider {
    margin: 0;
    }
.carousel img {border:0;}
.carousel img:hover {
    cursor: pointer;
	border:0;
    }
.carousel .active > img, .carousel .selected > img {
    border-radius: 0;
}
.carousel .item {

}
.carousel-inner {
    border-image: none;
    border-radius: 0 0 0 0;
    border-style: none;
    border-width: 0;
    overflow: hidden;
    position: relative;
    box-shadow: none;
}

.menu_peu {
    background: none repeat scroll 0 0 #0072b8;
    border: 0 none;
    margin: 0 0 0 -2px !important;
    width: 99.8% !important;
}
#peu {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 0 none;
    font-size: 92.3077%;
}
#peu .container {
    border-top: 0 none;
    margin-top: 0;
}
.menu_peu li a {
    color:white;
    font-size: 12px;
    margin-left: 10px;
}
.menu_peu_links ul li {
    border-bottom: 1px solid #5995B9;
    padding-bottom: 4px;
    padding-top: 4px;
}
.portlet_mes_consultat {
	margin-bottom:20px;

}
.portlet-static-social-links {
    background: none repeat scroll 0 0 white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    margin-top: -5px;
    padding: 8px 8px 1px;
    text-align: center;
}
.portlet-static-social-links img {
    height: auto;
    margin-left: 6px;
    margin-right: 6px;
    width: 50px;
}
.portlet-static-social-links img:hover {opacity:0.9;transition: all 0.2s ease-in-out 0s;}
.portlet-noticies {
    padding-bottom: 3px;
}
.portlet-noticies .icon-news {display:none;}

.portlet-noticies .list-portlet li {border-top:0;}


.dropdown-menu {
    background: none repeat scroll 0 0 #555;
    border-radius: 0;
    color: #FFFFFF;
    border: 1px solid #555555;
}
.dropdown-menu a {
    clear: both;
    color: #FFFFFF;
    display: block;
    font-weight: normal;
    line-height: 18px;
    padding: 3px 10px;
    white-space: nowrap;
}
.userrole-authenticated .dropdown-menu {
    background: none repeat scroll 0 0 #000;
}

.navbar .nav > li > .dropdown-menu:after, .navbar .contentViews > li > .dropdown-menu:after, .navbar .configlets > li > .dropdown-menu:after, .navbar .formTabs > li > .dropdown-menu:after {
    border-bottom: 6px solid #555;
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a  {
 background-color: #444444;
 background-image: none;
}
.portletStaticText ul {
    font-size: 14px;
    list-style: disc outside none;
    margin-left: 15px;
}
.portletStaticText li {
   margin-top: 10px;
}

.carousel-control {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    opacity: 1;
    top: 45%;
    margin-top: 0;
    line-height: 30px;
}
.carousel-control:hover {
    background: white;
    opacity: 1;
}
.breadcrumb a {
    color:#777;
 }

// Canvis Marc setembre 2013 - Ajustos Responsive


#portal-header h1 {
    float: left;
    margin-bottom: 5px;
    margin-top: 15px;
    }

.text_Destacat {
    float:left;
    width: 65%;
}
.imatge_Destacada {
float:left;
  width: 30%;
}

#baners ul li {
    background: none repeat scroll 0 0 transparent;}

#portal-globalnav .navbar .brand {
    color: #FFFFFF;
    text-shadow: none;
}
input, button, select, textarea {
    font-family: 'Open Sans',sans-serif;
}
.nav.nav-list.accordion {
    padding-left: 0;
}

@media only screen
and (max-width : 640px) {

#portal-globalnav .navbar-inner {
    padding: 0 0 0 5px;
}
.navbar .btn-navbar, .navbar .btn-navbar:active {
    background-color: #444444;
    background-image: none;
}
#portal-globalnav .nav-collapse .nav > li > a, #portal-globalnav .nav-collapse .contentViews > li > a, #portal-globalnav .nav-collapse .configlets > li > a, #portal-globalnav .nav-collapse .formTabs > li > a, #portal-globalnav .nav-collapse .dropdown-menu a, .nav-collapse-eines.nav-collapse .nav > li > a, .nav-collapse-eines.nav-collapse .contentViews > li > a, .nav-collapse-eines.nav-collapse .configlets > li > a, .nav-collapse-eines.nav-collapse .formTabs > li > a, .nav-collapse-eines.nav-collapse .dropdown-menu a {
padding: 5px 15px 5px 5px;
}
#portal-globalnav .nav > li {
    border-bottom: 1px solid;
 }
 #content-area, #portal-column-content {
    margin-top: 5px;
    padding-bottom: 0;
    padding-left: 0;
   padding-right: 0;
 }
 #portal-breadcrumbs {
    margin-top: 10px;

 }

.subnavbar {
    margin-bottom: 15px;
}

#baners ul {
    background: none repeat scroll 0 0 white;
    border: 8px solid white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    list-style: none outside none;
    margin-left: 0;
}
#baners ul li:last-child {
    margin-bottom: 0;
}
#portal-column-content .span9, #portal-column-content .span4  {
    margin-left: 0;
}
[class*="span"], .cella {
        margin-bottom: 15px;
    }
.imatge_Destacada {margin-bottom:10px!important;}
.text_Destacat {margin-left: 0 !important;}
.text_Destacat {
    float:left;
    width: 100%;
}
.imatge_Destacada {
float:left;
  width: 100%;
}
.link_footer_destacat {
    float:left;
    clear:both;
}
.imatge_Destacada img {
    width:100%;
}
.header-image {
    background-size:auto;
    background-position: center center;
}
.portletCalendar .ploneCalendar {
    font-size: 100%;
    }
.weekdays th {
    padding: 12px;
}
.carousel-inner {
    padding-left:0;

}
.carousel img {
     width: 100%;
}
.carousel .item {
    margin-left: 0;
    margin-right: 0;
}
#portal-header .btn-navbar.pull-right, #portal-header .btn-navbar.newsImageContainer {
    margin-left: 85%;
    position: absolute;
}
#portal-header h1 {
width: 260px;
margin-bottom: -5px;
}
}

/* NOVA NAVEGACIO PAGINA PRINCIPAL */
.accordion {
    margin-bottom: 18px;
    background: none repeat scroll 0 0 white;
    border: 8px solid white;
    border-radius: 0 0 0 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 18px;
}

.accordion-toggle {
    font-size: 14px;
    background-color: #0073B8;
    background-image: none;
    background-repeat: repeat-x;
    border-top: 0 none !important;
    color: white;
    display: block;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 2px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 8px 8px 8px 9px !important;
    position: relative;
    text-shadow: none !important;
}

.accordion-heading a:hover {
    background-color: #e7e7e7;
    background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#dddddd));
    background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd);
    background-image: -o-linear-gradient(top, #eeeeee, #dddddd);
    background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#dadada', GradientType=0);
    color: #222222;
}

.accordion-group {
    margin-bottom: 2px;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #fcfcfc;
}

.accordion-heading a:hover:after,
.accordion-heading .active a:after,
.accordion-heading .selected a:after {
    content: "";
    position: absolute;
    background-color: #007bc0;
    margin-left: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    right: 7px;
    top: 8px;
    background-image: url('/++genweb++static/images/gh-w.png?1370877920');
    background-position: -455px -71px;
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
}

.accordion-body {
  margin-left: 0;
  margin-right: 0x;
  border-top: none;
  background: white;
  list-style: none;
  -webkit-box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.25);
  overflow: visible;
}
#accordionLogin {
    margin-top: 20px;
    min-height: 280px;
    padding: 20px;
}
#accordionLogin .accordion-body {
    box-shadow: none;
}
.subnavbar .nav-list .active ul, .subnavbar .nav-list .selected ul {
        border-top: 0 none;
}
#accordionLogin .accordion-inner {
    border-top: 0;
    margin-top: 25px;
}
#accordionLogin .accordion-group {
    background: transparent;
    }
.accordion-inner {
    border-top: 1px solid #DEDEDE;
    padding: 0;
}

h1, h2, h3 {
    color: #444;
    margin-top: 27px;
}
#portal-column-content {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: none;
    margin-left: 0;
    margin-top: 0;
    padding: 0;
}
#portal-column-one {
    margin-right: 20px;
}
.template-homepage #portal-column-content {
    background: transparent;
    box-shadow: none;
    margin-top: 0;
    padding: 5px 0 0;
    margin-left: 0!important;
}
.liniaBaix, .documentFirstHeading {
    color: #0072B8;
    border-bottom: 1px solid #BEBEBE;
    box-shadow: none;
    margin: 0 10px 5px 0;
    padding-bottom: 10px;
    padding-left: 0;
    padding-top: 0;
    font-weight: 600;
}
#viewlet-below-content-title {
    color: #888888;
    font-size: 11px;
    margin-bottom: 15px;
}
#portal-breadcrumbs {
margin-top: 5px;
font-size: 14px;
}
#portal-breadcrumbs h2 {
    padding-left: 0;
}
.documentDescription {
    font-size: 16px;
    color: #777;
    line-height: 22px;
    font-weight: normal;
    }
.subnavbar .nav-list .active ul a span:before, .subnavbar .nav-list .selected ul a span:before {
    top: 2px;
}
.carousel {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: none;
    line-height: 1;
    margin-bottom: -5px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 15px;
    position: relative;
}
.navTreeItem li {
    margin-bottom: 0;
}
.carousel li {padding-top: 0;}
.carousel_normal .carousel-control {
    margin-top: 0;
    opacity: 0.2;
    top: 30%;
}

.carousel_mobile {
  display: block;
}
.list-portlet h2 {
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 5px;
    margin-top: 2px;
    text-transform: none;
}
.list-portlet li .smaller {
    color: #999999;
    font-size: 14px;
    white-space: nowrap;
}
.noticies .newsImage {
    float: left;
    height: auto;
    margin-right: 20px;
    margin-bottom: 10px;
    max-height: 150px;
    padding: 2px;
    width: 185px;
}
#portal-column-content {
    margin-left: 0;
}
.portlet-esdeveniments ul time {
    color: #000000;
}
.portlet-esdeveniments ul a {
    border-left: 0 none;
    }
.userrole-anonymous #plone-document-byline {display:none;}
dd {
    margin-bottom: 10px;
    margin-left: 0;
}
dt {
    font-size: 16px;
}
.list-portlet li {
padding: 8px 0 !important;
}
.liniaDalt, .tileHeadline {
    border-top: 0;
    box-shadow: none;
}
.tileItem {
    border-bottom: 1px solid #B2B2B2;
    padding-bottom: 10px;

}
.subnavbar .nav-list {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    position: relative;
    padding-right: 0;
}
.subnavbar .nav-list a {
    color: white;
    font-weight: 600;
}
.subnavbar .nav-list a {
    font-size: 13px;
    background-color: #0072B8;
    background-image: none;
    background-repeat: repeat-x;
    border-top: 0 none !important;
    color: white;
    display: block;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 8px 8px 8px 9px !important;
    position: relative;
    text-shadow: none !important;
    text-transform: uppercase;
}
.subnavbar .nav-list li:first-child a {
    border-radius: 0 0 0 0;
    border-top: 0 none !important;
}
.subnavbar .nav-list li:last-child a:only-child {
    border-radius: 0 0 0 0;
}
.subnavbar .nav-list .active ul a, .subnavbar .nav-list .selected ul a {
    background: #eeeeee!important;
    border-radius: 0 !important;
    border-right: 0;
    border-top: 0 none !important;
    color: #666666;
    font-size: 12px;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    padding: 0 !important;
}

.subnavbar .nav-list .active ul a span:before, .subnavbar .nav-list .selected ul a span:before {
    color: #444;

}
.pad {
    padding: 10px 0 0;
}
.portlet > .pad {
    border-bottom: 0 none;
}
.subnavbar .nav-list .active ul, .subnavbar .nav-list .selected ul {
    margin-left: 0!important;
    margin-right: 0;
    box-shadow: none;
}
.subnavbar .nav-list a:hover:after, .subnavbar .nav-list .active a:after, .subnavbar .nav-list .selected a:after {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
}
.subnavbar .nav-list .active ul a[class^="contenttype-"] span:after, .subnavbar .nav-list .selected ul a[class^="contenttype-"] span:after, .subnavbar .nav-list .active ul a[class*=" contenttype-"] span:after, .subnavbar .nav-list .selected ul a[class*=" contenttype-"] span:after {
    background-image: none;
    background-repeat: no-repeat;
}
.subnavbar .nav-list .active ul a span, .subnavbar .nav-list .selected ul a span {
    border-top: 0 none!important;
    text-transform: none;
    font-size: 13px;
    margin-right: 10px;
    margin-left: 0;
    }
.subnavbar .nav-list .active ul a {font-size:13px;}
.navTreeLevel2 {
background: #eee!important;
}
.navTreeLevel2 .navTreeFolderish {
    margin-left: 15px;
}
.navTreeLevel2 .navTreeFolderish span {
margin-left: 5px;
font-size: 13px!important;
}
.navTreeLevel2 li span {
    font-size: 13px !important;
    margin-left: 10px !important;
}
#rufous-sandbox {display: none;}
#portlet-navigation-tree {
    padding-left: 0;

}
.subnavbar .nav-list .active ul a span:before, .subnavbar .nav-list .selected ul a span:before {
    content: none;
}
#rufous-sandbox {display: none!important;}
.template-folder_full_view h1:first-child, .template-folder_full_view h2:first-child, .template-folder_full_view h3:first-child {
    margin-top: 25px;
}
.table tr:first-child td, .listing tr:first-child td, .taulaRegistres tr:first-child td, .portaltype-packet .estudis table.minimal tr:first-child td {
    border-top: 5px solid #BBBBBB;
}
.listing a {color:black;}
.template-folder_listing dt {
    padding-bottom:10px;
}
.template-folder_listing dd {
    border-bottom: 1px solid #B2B2B2;
    padding: 0px 10px 15px 0;
}
.template-folder_listing .summary a {
    color: #333333;
}
.photoAlbumEntry {
    float: left;
    margin-bottom: 15px;
    margin-right: 10px;
    max-height: 108px;
    overflow: hidden;
    position: relative;
}
.photoAlbumEntry a img:hover {
    opacity: 0.8;
}
.subnavbar .nav-list .active ul a.active, .subnavbar .nav-list .selected ul a.active, .subnavbar .nav-list .active ul a.selected, .subnavbar .nav-list .selected ul a.selected {
    background-color: #F5F5F5 !important;
}
.photoAlbumEntryTitle {
    background: none repeat scroll 0 0 #333333;
    color: #FFFFFF !important;
    opacity: 0.8;
    padding: 0 !important;
    position: absolute;
    text-align: center;
    top: 90px;
    width: 157px;
}

#equipament iframe {
    width: 100%;
    margin-top: 20px;
}
#equipament img {
    margin-bottom: 20px;
}
#equipament label.horizontal {
    font-size: 15px;
    margin-bottom: 15px;
    color: black;
    line-height: 30px;
}
#equipament .columnes {
column-count:2;
-moz-column-count:2; /* Firefox */
-webkit-column-count:2; /* Safari and Chrome */
    background: none repeat scroll 0 0 #F5F5F5;
    margin-bottom: 20px;
    padding: 25px 20px 20px 30px;
}
#equipament .columnes label.horizontal {
    line-height: 15px;
    }
#tramit .camptramit {
    background: none repeat scroll 0 0 #F5F5F5;
    margin-bottom: 20px;
    padding: 10px 20px;
}
#tramit .camptramit label.horizontal {
    font-size: 15px;
    margin-bottom: 15px;
    color: black;
    line-height: 30px;
}
#tramit .tramita {
    background: none repeat scroll 0 0 #000000;
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    line-height: 60px;
    padding: 10px 20px;
}
#tramit .tramita:hover {
color: #ccc;
}
.tramit_annex:before {
    background: url("/++genweb++static/images/gh-w.png?1370877920") no-repeat scroll -162px -163px #111;
    border: 1px solid;
    border-right: 0px solid;
    content: " ";
    display: block;
    float: left;
    height: 25px;
    margin-top: 4px;
    opacity: 75;
    position: relative;
    width: 25px;
}
.tramit_annex {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #777777;
    color: #000000;
    line-height: 36px;
    padding: 5px 10px 4px;
    vertical-align: middle;
}
.tramit_annex:hover {
    text-decoration: none;
    background: none repeat scroll 0 0 #eee;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret, .navbar .contentViews li.dropdown > .dropdown-toggle .caret, .navbar .configlets li.dropdown > .dropdown-toggle .caret, .navbar .formTabs li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .contentViews li.dropdown.open > .dropdown-toggle .caret, .navbar .configlets li.dropdown.open > .dropdown-toggle .caret, .navbar .formTabs li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .contentViews li.dropdown.active > .dropdown-toggle .caret, .navbar .configlets li.dropdown.active > .dropdown-toggle .caret, .navbar .formTabs li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.selected > .dropdown-toggle .caret, .navbar .configlets li.dropdown.selected > .dropdown-toggle .caret, .navbar .formTabs li.dropdown.selected > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret, .navbar .contentViews li.dropdown.open.active > .dropdown-toggle .caret, .navbar .configlets li.dropdown.open.active > .dropdown-toggle .caret, .navbar .formTabs li.dropdown.open.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.selected > .dropdown-toggle .caret, .navbar .configlets li.dropdown.open.selected > .dropdown-toggle .caret, .navbar .formTabs li.dropdown.open.selected > .dropdown-toggle .caret {
    border-bottom-color: #555;
    border-top-color: #555;
}
.subnavbar .nav-list .active a, .subnavbar .nav-list .selected a {
    background: none repeat scroll 0 0 #0072B8;
    color: #FFFFFF;
}
[class^="icon-"], #category.documentByLine:before, .tileFooter:before, [class*=" icon-"] {
    width: 20px;
}
.icon-carrousel {
    background-position: -335px -72px;
}
.icon-banner, .contenttype-bannercontainer:before {
     background-position: -191px -192px!important;
}
.icon-bannercontainer {
    background-position: -432px -143px;
}
.icon-equipament, .contenttype-equipament:before {
    background-position: -145px -193px;
}
.icon-tramit, .contenttype-tramit:before  {
    background-position: -145px -72px;
}
.icon-slider {
    background-position: -360px -72px;
}
.icon-collection {
    background-position:-74px -192px;
}
.icons-on .contenttype-collection {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.icons-on .contenttype-collection {
    padding-left: 11px !important;
}


// Pilar CSS para solucionar temas nueva version GW4

#portal-globalnav .navbar .nav > li {
    background: none;
}

.toggle-div .list-portlet li:first-child {
    border-top: 1px solid #e5e5e5 !important;
}

.portlet .icon-plus-sign {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.8;
  position: relative;
  left: 0px;
  margin-left: 3px;
  margin-right: 3px;
}

.more {
    text-align: right;
    float: right;
    color: white !important;
}

.imatge_noticia .discreet {
    width: 185px;
}

.imatge_Destacada .discreet {
    width: 185px;
}

.newsImageContainer .discreet {
width: 185px;
}
