// Aqui posar el SCSS addicional per a suport del tema.
$fontAwesomePath: "/++genweb++static/fonts";
@import "compass_twitter_bootstrap/font-awesome";
@import "overrides";

// Vilaix CSS

body {
	background:#e7e4e3;
	font-family: 'Open Sans', sans-serif;
}

//CAPSALERA

#portal-header {
	border-top: none;
	border-bottom: none;
	background:#e7e4e3;
}

.header-image {
	background-image: url('/++vilaix++static/images/capcalera.jpg');
	margin-top: 10px !important;
	height: 130px;
	background-repeat:no-repeat;	
}

//MENU NAVEGACIO

 .navbar-inner {
 	border: none;
 }

#portal-globalnav {
	margin-top: 10px;
}

#portal-globalnav .nav > li > a {
 	color: white;
	background-color: #4B4B4D;
	font-weight: normal;
	border-right: none;		
	margin-right: 5px;
}

#portal-globalnav .navbar-inner {
	padding: 0;
	border-bottom: none;
}

.navbar-inner {
	min-height: 36px;	
	background-color: #e7e4e3;
	background-image: none !important;	
	border: none !important;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.nav > li {
	padding-top: 3px;
}

#portal-globalnav .state-published, #portal-globalnav #workflow-transition-publish {
	border-bottom: none;
}

#portal-globalnav .state-draft, #portal-globalnav #workflow-transition-reject, #portal-globalnav #workflow-transition-retiraaesborrany, #portal-globalnav #workflow-transition-show, #portal-globalnav .state-visible {
	border-bottom: none;
}

#portal-globalnav .state-private, #portal-globalnav #workflow-transition-hide {
	border-bottom: none;
}

#portal-globalnav .navbar .nav > li > a:focus, #portal-globalnav .navbar .contentViews > li > a:focus, #portal-globalnav .navbar .configlets > li > a:focus, #portal-globalnav .navbar .formTabs > li > a:focus, #portal-globalnav .navbar .nav > li > a:hover, #portal-globalnav .navbar .contentViews > li > a:hover, #portal-globalnav .navbar .configlets > li > a:hover, #portal-globalnav .navbar .formTabs > li > a:hover {
	-webkit-box-shadow: inset 0 20px 20px -20px rgba(255, 255, 255, 0.75);
	-moz-box-shadow: inset 0 20px 20px -20px rgba(255, 255, 255, 0.75);
	box-shadow: inset 0 20px 20px -20px rgba(255, 255, 255, 0.75);
}

.portlet {
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	margin-bottom: 20px;
	border: 10px solid white;
	background: white;
}

.portlet h2 {
	margin: 0;
	font-size: 107%;
	color: white;	
	padding: 10px 15px;
	line-height: 18px;
	position: relative;
	background: #0073B8;
	border-bottom-width: 0px;
}

.list-portlet {
  background: white;
  margin: 0;
  padding: 0 0 0 0;
  content: none !important;
  border-bottom: none;
}

.list-portlet .noticies {
	height: auto;	
	padding: 8px 0 8px 0px !important;
	margin-right: 0px;
	list-style: none !important;
	content: "" !important;
}
.list-portlet .noticies .imatge {
	float: left;
	width: 132px;
	height: 80px;
	padding: 2px;
}

.noticies img {
	float: left;
	width: 120px;
	height: 75px;	
	padding: 2px;
	margin-right: 10px;
	margin-bottom: 25px;
}

.noticies h2 {
	margin: 0;
	font-size: 16px;
    line-height: 21px;
	color: white;
	padding: 0px 0px;
	position: relative;
	border-bottom-width: 0px;
	background: none;
}

.noticies p {
	margin: 0 0 0px;
}

.list-portlet li::before {
	content: none;
	position: absolute;
	font-size: 52px;
	margin-left: -20px;
	margin-top: -15px;
	color: #0EA8FF;
}

.portlet .portlet-footer {
	text-align: right;
	padding: 0px 0px 0px;
	color: white;
	font-weight: bold;
}

.portlet-footer .icon-plus-sign {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	opacity: 0.8;
	position: relative;
	left: 0px;
	margin-left: 3px;
	margin-right: 3px;
}

.button{
	background: black;
	padding: 0px;
	padding-top: 1px;
	padding-bottom: 0px;
	padding-left: 4px;
}
.portlet.portlet-noticia-destacada {
    padding: 3px 3px 0;
        min-height: 145px;
}
.imatge_Destacada, .text_Destacat {
	margin:0!important;
	}
.text_Destacat {
	margin-left:10px!important;
}
.noticia_Destacada {
	background: none;
}
.link_footer_destacat {
    margin-left: 10px !important;
    margin-bottom:0!important;
     margin-top: 10px;
}
.portlet_mes_consultat .list-portlet li {
	border-top: 1px solid #E5E5E5;
	margin-left: 0 !important;
	padding: 8px 5px 8px 5px !important;
	margin-right: 10px;
}

.mes_consultat {
	background: #F2F2F2;
	margin-right: 0px !important;
	padding-right: 0px !important;
	border-top: 3px solid white !important;	
}

.mes_consultat a {
	color: black !important;	
}

.portlet-esdeveniments ul {
	border-bottom: none;
}

.portlet-esdeveniments ul a {
	display: block;
	padding-left: 70px;
	border-left: 3px solid #F2F2F2;
	font-weight: bold;	
	min-height: 0 !important;
}

.portlet-esdeveniments .multidate-before {
	padding-left: 73px;
}

.portlet-esdeveniments .multidate {
	font-size: 107%;
}

.text_esdeveniment {
	padding-left: 75px;	
	font-size: 90%;	
}

.menu_peu {	
	border: 2px solid white;
	padding: 10px 10px;
}

.menu_peu ul {
	list-style: none;
	margin-left: 0px;	
}


.menu_peu h4 {	
	background: #0073B8;
	padding-top: 5px;
	padding-bottom: 5px;
}

.menu_peu li a {
	color: black;	
	margin-left: 10px;
}

.menu_peu_links ul li {
	border-bottom: 2px solid white;
	padding-bottom: 5px;
}

.menu_peu h4 a {
	color: white;
	margin-left: 10px;
}

#baners ul {
	list-style: none;
	margin-left: 0px;
}

#baners ul li {
	margin-bottom: 8px;
}

// Canvis Marc demo Ajuntament - Juliol 2013.

body {
	background: url("/++vilaix++static/images/fons_vilaix.png") repeat-y scroll center top white;
	color: #555555;
}
#portal-header {
    background: none repeat scroll 0 0 white;
    border-bottom: medium none;
    border-top: 2px solid #0073B8;
    margin: 0 auto;
    width: 978px;
}
.header-image {
    background-image: url("/++vilaix++static/images/capcalera.jpg");
    background-repeat: no-repeat;
    border-radius: 0 0 0 0;
    box-shadow: none;
    height: 130px;
    margin-top: 10px !important;
}
.portlet {
    background: none repeat scroll 0 0 white;
    border: 8px solid white;
    border-radius: 0 0 0 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
}
.portlet h2 {
    background: none repeat scroll 0 0 #0073B8;
    border-bottom-width: 0;
    color: white;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    margin: 0;
    padding: 6px 15px 7px 10px;
    position: relative;
}
.noticies h2 {
    background: none repeat scroll 0 0 transparent;
    border-bottom-width: 0;
    color: white;
    font-size: 16px;
    line-height: 21px;
    margin: 0;
    padding: 0;
    position: relative;
}
b, strong {
    font-weight: 600;
}
#portal-globalnav .nav > li > a {
    background-color: transparent;
    border-right: medium none;
    color: white;
    font-size: 12px;
    font-weight: 600;
    margin-right: 3px;
    padding-bottom: 6px;
    padding-top: 6px;
    text-shadow: 1px 1px 0 black;
    text-transform: uppercase;
}
.subnavbar .nav-list a {
    color: white;
    font-weight: 600;
}
.subnavbar .nav-list {
    background: none repeat scroll 0 0 white;
    border: 8px solid white;
    border-radius: 0 0 0 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}
.subnavbar .nav-list a {
	font-size: 14px;
    background-color: #0073B8;
    background-image: none;
    background-repeat: repeat-x;
    border-top: 0 none !important;
    color: white;
    display: block;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 2px;
    margin-left: -15px;
    margin-right: -15px;
	padding: 8px 8px 8px 9px !important;
    position: relative;
    text-shadow: none !important;
}
.subnavbar .nav-list li:first-child a {
    border-radius: 0 0 0 0;
    border-top: 0 none !important;
}
.subnavbar .nav-list li:last-child a:only-child {
    border-radius: 0 0 0 0;
}
.button {
    background: none repeat scroll 0 0 black;
    font-size: 11px;
    padding: 1px 0 2px 8px;
}
.portlet-footer {
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 0 0 0 0;
    border-top: 1px solid white;
    display: block;
    font-size: 92.3077%;
    padding: 5px 10px 7px;
    position: relative;
    text-align: center;
}
#portal-globalnav .navbar .nav > li > a:focus, #portal-globalnav .navbar .contentViews > li > a:focus, #portal-globalnav .navbar .configlets > li > a:focus, #portal-globalnav .navbar .formTabs > li > a:focus, #portal-globalnav .navbar .nav > li > a:hover, #portal-globalnav .navbar .contentViews > li > a:hover, #portal-globalnav .navbar .configlets > li > a:hover, #portal-globalnav .navbar .formTabs > li > a:hover {
    box-shadow: 0 20px 20px -20px rgba(255, 255, 255, 0.4) inset;
}
#portal-column-content .span9 {
		margin-left: 1.6748%;
}
#portal-column-content .span4 {
	margin-left: 2.2%;
	}
#content-area {
    margin-top: 0.8em;
    padding-bottom: 2em;
}	
.imatge_Destacada {

}
.text_Destacat {

}
.text_Destacat h3 {
     font-size: 21px;
    font-weight: 600;
    margin-top: 0;
}
.link_footer_destacat {
	 
	}
.portletCalendar .ploneCalendar td.event, .portletCalendar .ploneCalendar td.todayevent {
    background: none repeat scroll 0 0 #F2F2F2;
    text-shadow: 0 -1px #fff;
}
.portletCalendar .ploneCalendar td.event a, .portletCalendar .ploneCalendar td.todayevent a {
    background: none repeat scroll 0 0 #DDDDDD;
    border-radius: 10px 10px 10px 10px;
    color: #444444;
    padding: 1px 5px;
}	
.portletCalendar .ploneCalendar td:not(:empty) {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 50px 50px 50px 50px;
    text-shadow: 0 1px #FFFFFF;
}
.portlet-esdeveniments ul a {
        font-size: 16px;
        font-weight: 600;
        line-height: 21px;
    }
 .portlet-esdeveniments li {
 margin-left:0px!important;
 }
#baners {
	margin-bottom:15px;

}
#baners img:hover {opacity:0.9;transition:0.5s ease-out 0s;}
#content-area, #portal-column-content {
    padding-left: 12px;
    padding-right: 5px;
    padding-bottom:0;
    margin-bottom:0;
    margin-top: 8px;
    transition: box-shadow 0.5s ease-out 0s;
}
.navbar-inner {
    background-color: transparent;
    }
#portal-header:not(.no-image) + #portal-globalnav .navbar-inner {
    border-radius: 0 0 0 0 !important;
    margin-top: -1px;
}
#portal-globalnav .navbar-inner {
    background: none repeat scroll 0 0 #444444;
    border-bottom: medium none;
    padding: 0 0 0 85px;

}
#portal-globalnav {
    margin-top: 3px;
}
#eines {
	font-size: 12px;
    margin-top: 10px;

}
#eines > li > a {
color:#333;
}
.thumbnail, .thumb-img img, .photoAlbumEntry a {
    border: 0 none;
    border-radius: 0 0 0 0;
    display: block;
    line-height: 18px;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
     box-shadow: none;
}
.carousel img {border:4px solid #fff;}
.carousel img:hover {
    cursor: pointer;
	border:4px solid #333;
    }
.thumbnails .span3 {
	width: 20%;
}
.carousel-inner {
    border-image: none;
    border-radius: 0 0 0 0;
    border-style: none;
    border-width: 0;
    overflow: hidden;
    padding-left: 100px;
    position: relative;
     box-shadow: none;
}
.menu_peu {
    background: none repeat scroll 0 0 #0073B8;
    border: 0 none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 0 0 #DDDDDD;
    margin: 0 0 0 -2px !important;
    width: 99.8% !important;
}
#peu {
    background: none repeat scroll 0 0 #F2F2F2;
    border-top: 5px solid #888888;
    font-size: 92.3077%;
}
#peu .container {
    border-top: 0 none;
    margin-top: 0;
}
.menu_peu li a {
    color: white;
    font-size: 12px;
    margin-left: 10px;
}
.menu_peu_links ul li {
    border-bottom: 1px solid white;
    padding-bottom: 4px;
    padding-top: 4px;
}
.portlet_mes_consultat {
	margin-bottom:20px;

}
.portlet-static-social-links {
    background: none repeat scroll 0 0 white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    margin-top: -5px;
    padding: 8px 8px 1px;
    text-align: center;
}
.portlet-static-social-links img {
    height: auto;
    margin-left: 6px;
    margin-right: 6px;
    width: 50px;
}
.portlet-static-social-links img:hover {opacity:0.9;transition: all 0.2s ease-in-out 0s;}
.portlet-noticies {
    min-height: 385px;
    padding-bottom: 3px;
}
.portlet-noticies .icon-news {display:none;}
.carousel {
    background: none repeat scroll 0 0 white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    line-height: 1;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 25px;
    position: relative;
}
.portlet-esdeveniments {
	margin-bottom: -15px;
}
